<footer class="bg-pink-40 text-orange-50 p-5 md:px-16 xl:px-80">
    <div class="flex flex-col 2xl:w-2xl 2xl:mx-auto">
        <section class="grid">
            <nav class="grid grid-cols-1 gap-4 md:flex md:flex-row md:justify-between">
                <div>
                    <h4 class="font-bold text-lg mb-1">Mapa del sitio</h4>
                    <ul class="text-basic">
                        <li><a href="#" class="hover:underline">Inicio</a></li>
                        <li><a href="#" class="hover:underline">Catálogo</a></li>
                        <li><a href="#" class="hover:underline">Blog</a></li>
                        <li><a href="#" class="hover:underline">Contáctame</a></li>
                    </ul>
                </div>
    
                <div>
                    <h4 class="font-bold text-lg mb-1">Otros servicios</h4>
                    <ul class="text-basic">
                        <li><a href="#" class="hover:underline">Asesoría de Regalos</a></li>
                        <li><a href="#" class="hover:underline">Cuidado Personal</a></li>
                    </ul>
                </div>
    
                <address class="not-italic">
                    <h4 class="font-bold text-lg mb-1">Contáctame</h4>
                    <ul class="text-basic">
                        <li><a href="tel:+5198700857" class="hover:underline">+51 98700857</a></li>
                        <li><a href="mailto:contacto@pinkys.com" class="hover:underline">contacto@pinkys.com</a></li>
                    </ul>
                </address>
            </nav>
        </section>
    
        <hr class="border-t-2 border-orange-50 my-5" />
    
        <section class="grid text-base font-bold md:grid-cols-2">
            <nav class="md:order-2">
                <ul class="grid gap-2 md:grid-cols-3 md:flex md:flex-row md:justify-end">
                    <li><a href="#" class="whitespace-nowrap hover:underline">Términos y Condiciones</a></li>
                    <li><a href="#" class="hover:underline">FAQ</a></li>
                    <li><a href="#" class="hover:underline">Privacidad</a></li>
                </ul>
            </nav>
            <hr class="border-t-2 border-orange-50 my-5 md:hidden" />
            <p class="md:order-1">
                © Todos los derechos reservados
            </p>
        </section>
    </div>
</footer>
