---
import ServiceCard from "../common/ServiceCard";
---

<div class="flex flex-col gap-4 md:flex-row md:px-12 lg:px-80">
    <ServiceCard
        title="Personalizar regalos especiales"
        description="Diseñamos contigo regalos únicos que se adaptan a tus necesidades y gustos de cada persona y ocasión."
    />
    <ServiceCard
        title="Asesorar con dedicación"
        description="Ayudamos a encontrar el regalo perfecto, reflejando tus sentimientos de manera única y especial."
    />
    <ServiceCard
        title="Cuidar tu belleza y bienestar"
        description="Ofrecemos servicios de cosmetología que realzan tu belleza natural y te hacen sentir increíble en cualquier ocasión."
        tag="EXTRA"
    />
</div>
